extends layout

block content
  .wrapper
      #watch-dial.tile 00:00:00:00
      button#start-stop.tile.action-button.start-button Start
      button#reset-lap.tile.action-button.reset-button Reset
      ul#laps
      button#export.tile.action-button.export-button Export

